[Unit]
Description=Niff - remote virtual keyboard receiver
After=graphical.target
Requires=ydotoold.service

[Service]
WorkingDirectory=/usr/bin/niffd
ExecStart=/usr/bin/dotnet /usr/bin/niffr/
Restart=always
RestartSec=10
SyslogIdentifier=niffr
# Optionally, specify a User= if you want to run the service as a non-root user.
User=root

[Install]
WantedBy=multi-user.target