[Unit]
Description=Niff - keyboard receiver
After=graphical.target
[Service]
Type=notify
ExecStart=/usr/bin/dotnet /usr/local/bin/niff
Restart=always
RestartSec=5
SyslogIdentifier=Niff
StandardOutput=journal
StandardError=journal
User=root
[Install]
WantedBy=multi-user.target
Alias=NIffd