[Unit]
Description=Niffr required service deamon to interact with wayland server
After=graphical.target
[Service]
Type=simple
ExecStart=/usr/local/bin/ydotoold --socket-path="/run/ydotoold/ydotoold.sock" --socket-own="$(id root):$(/bin/bash/ -c 'getent group ydotooluser | cut -d: -f3)'"
ExecStop=
Restart=on-failure

[Install]
WantedBy=multi-user.target

  